@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  margin: 0 auto;
  font-family: "Quicksand";
  padding:3px;
  align-items: justify ;
  border: none;
}
.navbar{
  color:white;
  align-items: center ; 
  display: flex;
   margin: 0;
  padding: 20px;
  max-width: 100%;
  background-color: #333;
  border-bottom: 1px solid #f2f2f2;
}
.navbar Button {
  margin-left: auto;
  border-radius: '8px' ;
  border: none;
  width: 100px ;
  background-color: grey;
  height: 35px;
  margin: 6px;
}
.navbar Button:hover {
  background-color: 	#D3D3D3;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  margin-left: 150px;
  padding: 20px;
  /* justify-content: space-between; */
  
  display:inline-block;

}
.product-preview {
  padding: 10px 16px;
  margin: 20px 50px 25px ;
  border-bottom: 1px solid #fafafa;
  background-color:#F0F0F0;
  display:inline-block;
}
.product-preview:hover {
  box-shadow: 1px 3px 5px #787878;
}
.product-preview img{
  width: 300px;
  height:350px;
}
.product-preview h2 {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.product-preview button:hover{
  box-shadow: 1px 3px 5px #787878;
}
